/* Toolbar Styles */
.toolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .search-box {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
  }
  
  .add-recipe-button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
  }
  
  .add-recipe-button:hover {
    background-color: #218838;
  }
  